[Desktop Entry]
Name=plasma
Name[ast]=plasma
Name[bg]=plasma
Name[ca]=plasma
Name[ca@valencia]=plasma
Name[cs]=plasma
Name[da]=plasma
Name[de]=plasma
Name[el]=plasma
Name[en_GB]=plasma
Name[eo]=plasma
Name[es]=plasma
Name[et]=plasma
Name[fi]=plasma
Name[fr]=plasma
Name[ga]=plasma
Name[gl]=plasma
Name[hu]=plasma
Name[it]=plasma
Name[ja]=plasma
Name[kk]=plasma
Name[km]=plasma
Name[ko]=plasma
Name[lv]=plasma
Name[nb]=plasma
Name[nds]=plasma
Name[nl]=plasma
Name[nn]=plasma
Name[pa]=plasma
Name[pl]=plasma
Name[pt]=plasma
Name[pt_BR]=plasma
Name[ro]=plasma
Name[ru]=plasma
Name[sr]=plasma
Name[sr@ijekavian]=plasma
Name[sr@ijekavianlatin]=plasma
Name[sr@latin]=plasma
Name[sv]=plasma
Name[tr]=plasma
Name[uk]=plasma
Name[x-test]=xxplasmaxx
Name[zh_CN]=plasma
Name[zh_TW]=plasma
Comment=Plasma plasma
Comment[ast]=Plasma plasma
Comment[ca]=Plasma plasma
Comment[ca@valencia]=Plasma plasma
Comment[cs]=Plasma plasma
Comment[da]=Plasma plasma
Comment[de]=Plasma plasma
Comment[el]=Plasma plasma
Comment[en_GB]=Plasma plasma
Comment[eo]=Plasma plasma
Comment[es]=Plasma plasma
Comment[et]=Plasma plasma
Comment[fi]=Plasma plasma
Comment[fr]=Plasma plasma
Comment[ga]=Plasma plasma
Comment[gl]=Plasma plasma
Comment[hu]=Plasma plasma
Comment[it]=Plasma plasma
Comment[ja]=Plasma plasma
Comment[kk]=Plasma plasma
Comment[km]=ប្លាស្មា plasma
Comment[ko]=Plasma plasma
Comment[lv]=Plasma plasma
Comment[nb]=Plasma plasma
Comment[nds]=Plasma plasma
Comment[nl]=Plasma plasma
Comment[nn]=Plasma plasma
Comment[pa]=ਪਲਾਜ਼ਮਾ plasma
Comment[pl]=Plazma plasma
Comment[pt]=Plasma plasma
Comment[pt_BR]=Plasma plasma
Comment[ro]=Plasma plasma
Comment[ru]=Plasma plasma
Comment[sr]=Плазмин plasma
Comment[sr@ijekavian]=Плазмин plasma
Comment[sr@ijekavianlatin]=Plasmin plasma
Comment[sr@latin]=Plasmin plasma
Comment[sv]=Plasma plasma
Comment[tr]=Plasma plasma
Comment[uk]=Плазма plasma
Comment[x-test]=xxPlasma plasmaxx
Comment[zh_CN]=Plasma plasma
Comment[zh_TW]=Plasma plasma
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_plasma
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=plasma
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

